{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href={% static "game/favicon.ico" %} />

<head>
  {% block title %}
  {% endblock %}
</head>

<body>

  {% include "game/navbar.html" %}

  <br>

  {% block content %}
  {% endblock %}

  <br>
  <hr>
  {% include "game/footer.html" %}
  <br>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
  integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
<link id="theme-stylesheet" rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href={% static "game/game.css" %}>
<script src={% static "game/base.js" %}></script>
<script type="text/javascript" src={% static "game/userdata.js" %}></script>
<script type="text/javascript" src={% static "game/utils.js" %}></script>

{% block scripts %}
{% endblock %}

</html>