{% extends "game/base.html" %}
{% load static %}

{% block title %}
<title>{{ room.label }} - Kuiperbowl</title>
{% endblock %}

{% block content %}

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to reset your score?
      </div>
      <div class="modal-footer">
        <button id="reset-btn" type="button" class="btn btn-danger" data-dismiss="modal">Reset</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div id="ban-alert" class="alert alert-danger" style="display: none;">
    You have been banned from this room.
  </div>

  <div class="row">
    <div class="col">
      <input type="text" id="request-content" class="form-control" maxlength="200">
      <div id="chat-btn" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="top"
        title="Shortcut: C">Chat</div>
      <div id="next-btn" class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="top" title="Shortcut: N">Next
      </div>
      <div id="buzz-btn" class="btn btn-danger btn-lg float-right" data-toggle="tooltip" data-placement="top"
        title="Shortcut: SPACE">Buzz</div>
      <div class="progress">
        <div id=content-progress class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100"></div>
        <div id=buzz-progress class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">Settings</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="category-select">Category:</label>
              <select id="category-select" class="form-control">
                <option value="Everything">Everything</option>
                <option value="Science">Science</option>
                <option value="History">History</option>
                <option value="Literature">Literature</option>
                <option value="Philosophy">Philosophy</option>
                <option value="Religion">Religion</option>
                <option value="Geography">Geography</option>
                <option value="Fine Arts">Fine Arts</option>
                <option value="Social Science">Social Science</option>
                <option value="Mythology">Mythology</option>
                <option value="Trash">Trash</option>
              </select>
            </div>
            <div class="form-group">
              <label for="difficulty-select">Difficulty:</label>
              <select id="difficulty-select" class="form-control">
                <option value="HS">HS</option>
                <option value="MS">MS</option>
                <option value="College">College</option>
              </select>
            </div>
            <div class="form-group">
              <label for="speed-slider" class="form-label">Speed:</label>
              <input id="speed-slider" type="range" min="60" max="600" step="1" value="200"/>
            </div>
          </form>

          <div id="reset-btn" class="btn btn-secondary" data-toggle="modal" data-target="#resetModal">Reset</div>

        </div>
      </div>

      <br>

      <div class="card">
        <div class="card-header">Scoreboard</div>
        <div class="card-body">
          <label for="name">Handle:</label>
          <input class="form-control mb-3" type="text" id="name" maxlength="20" />
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody id="scoreboard-body">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card bg-faded">
        <div class="card-header">
          <h6 id="category-header"></h6>
          <h6 id="answer-header"></h6>
        </div>
        <div class="card-body">
          <span id="question-space"></span>
        </div>
      </div>

      <br>

      {% include "game/feedback.html" %}

    </div>
    <div class="col-3">
      <div class="card">
        <ul id="message-space" class="list-group">
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script type="text/javascript" src={% static "game/game.js" %}></script>
<script type="text/javascript" src={% static "game/gameEvents.js" %}></script>
<script type="text/javascript" src={% static "game/feedback.js" %}></script>
<script type="text/javascript" src={% static "game/components/scoreboard.js" %}></script>
<script type="text/javascript" src={% static "game/components/messages.js" %}></script>
<link rel="stylesheet" href={% static "game/game.css" %}>
{% endblock %}