{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Quizbowl Site</title>
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script type="text/javascript" src={% static "game/game.js" %}></script>
  <script type="text/javascript" src={% static "game/userdata.js" %}></script>
  <link rel="stylesheet" href={% static "game/game.css" %}>
</html>
