{% extends "game/base.html" %}

{% block content %}

{{ room }}
<br>

<div class="container">

  <input type="text" id="request-content">
  <div id="buz-btn" class="btn btn-danger">Buzz</div>

  <div class="row">
    <div class="col-8">
      <div class="card bg-faded">
        <div class="card-header">
            <h6 id="category-header"></h6>
        </div>
        <div class="card-body">
          <span id="question-space"></span>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">

        <div class="card-header">Scoreboard</div>

        <input type="text" id="name">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody id="scoreboard-body">
          </tbody>
      </table>

      </div>
    </div>

  </div>
</div>

{% endblock %}
