aioredis==1.3.0
asgiref==3.2.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autobahn==19.10.1
Automat==0.8.0
cffi==1.13.2
channels==2.3.1
channels-redis==2.4.1
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
daphne==2.3.0
Django==2.2.7
fuzzywuzzy==0.17.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.6.0
incremental==17.5.0
more-itertools==8.3.0
msgpack==0.6.2
msgpack-python==0.5.6
packaging==20.4
pluggy==0.13.1
psycopg2==2.8.3
py==1.8.1
pycparser==2.19
PyHamcrest==1.9.0
pyparsing==2.4.7
pytest==5.4.2
pytest-django==3.9.0
python-dotenv==0.13.0
python-Levenshtein==0.12.1
pytz==2019.3
redis==2.10.6
six==1.12.0
sqlparse==0.3.0
Twisted==19.7.0
txaio==18.8.1
wcwidth==0.1.9
zipp==3.1.0
zope.interface==5.4.0